@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.eot") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.eot") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy-Medium";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy-Medium";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 943.61px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 5px 0px 5px;
}
@media (max-width: 955.61px) {
  .container {
    max-width: 950px;
  }
}
.header__body {
  position: relative;
  margin-top: 32.05px;
  padding-bottom: 31.92px;
  border-bottom: 1px solid rgb(130, 130, 130);
  z-index: 50;
}
@media (max-width: 479.98px) {
  .header__body {
    border-bottom: none;
  }
}
.header__burger {
  display: none;
}

@media (max-width: 479.98px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    z-index: 50;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 19.19px;
    z-index: 3;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 3.84px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger span {
    position: absolute;
    background-color: rgb(0, 0, 0);
    left: 0;
    width: 100%;
    height: 3.84px;
    top: 7.5px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: rgb(130, 130, 130);
    width: 27.37px;
    top: 8px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: rgb(130, 130, 130);
    width: 27.37px;
    bottom: 7.5px;
  }

  .menu-header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ffffff;
    padding: 70px 0px 0px 0px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}
@media (max-width: 479.98px) and (max-width: 479.98px) {
  .menu-header__menu {
    padding: 25px 0px 0px 0px;
  }
}
@media (max-width: 479.98px) {
  .menu-header__menu.active {
    left: 0;
    padding: 25px 0px 0px 0px;
  }
}
.header__content {
  margin-bottom: 40px;
}
@media (max-width: 479.98px) {
  .header__content {
    margin-bottom: 0px;
  }
}

.text-header__language {
  display: none;
}
@media (max-width: 479.98px) {
  .text-header__language {
    position: absolute;
    right: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 100%;
    display: flex;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    font-family: Gilroy-Bold;
    font-size: 34px;
    margin: 50px 0px 0px 0px;
  }
  .text-header__language a {
    color: rgb(130, 130, 130);
  }
  .text-header__language a.active {
    color: #000;
  }
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-header__list li a {
  font-family: Gilroy-Bold;
  font-size: 18px;
  line-height: 22px;
  color: rgb(130, 130, 130);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.menu-header__list li a:hover {
  color: black;
}
@media (max-width: 479.98px) {
  .menu-header__list li a {
    font-size: 34px;
    line-height: 42.09px;
  }
}
@media (max-width: 479.98px) {
  .menu-header__list li {
    padding-bottom: 38px;
  }
}
@media (max-width: 479.98px) {
  .menu-header__list li:last-child {
    padding-bottom: 0px;
  }
}
@media (max-width: 479.98px) {
  .menu-header__list {
    display: block;
    padding-left: 26px;
  }
}

.menu-header__link.active {
  color: #000;
}

@media (max-width: 479.98px) {
  .mainblock {
    margin-top: -45px;
  }
}
.mainblock__container {
  max-width: 943.61px;
  margin: 0 auto;
}
.mainblock__content {
  margin-bottom: 104.06px;
}
@media (max-width: 991.98px) {
  .mainblock__content {
    margin-bottom: 83px;
  }
}
.mainblock__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.mainblock__text.active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
@media (max-width: 479.98px) {
  .mainblock__text {
    padding: 0px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 23px;
  }
}
.mainblock__image {
  -webkit-transform: translate(120%, 0px);
          transform: translate(120%, 0px);
  opacity: 0;
  -webkit-transition: all 3s ease 0s;
  transition: all 3s ease 0s;
}
.mainblock__image.active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.mainblock__image img {
  width: 100%;
}
@media (max-width: 479.98px) {
  .mainblock__image {
    display: none;
  }
}
.mainblock__image2 {
  display: none;
  -webkit-transform: translate(120%, 0px);
          transform: translate(120%, 0px);
  opacity: 0;
  -webkit-transition: all 3s ease 0s;
  transition: all 3s ease 0s;
}
.mainblock__image2.active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.mainblock__image2 img {
  width: 100%;
}
@media (max-width: 479.98px) {
  .mainblock__image2 {
    display: block;
    padding: 0px 30px;
  }
  .mainblock__image2 img {
    width: 100%;
  }
}

.text-mainblock {
  max-height: 100%;
}
.text-mainblock__name {
  max-width: 160px;
  font-family: Gilroy-Bold;
  font-size: 32px;
  line-height: 28px;
}
.text-mainblock__profession {
  font-family: Gilroy-Medium;
  font-size: 18px;
}
.text-mainblock__language {
  max-width: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 65px;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-family: Gilroy-Bold;
  font-size: 16px;
}
.text-mainblock__language a {
  color: rgb(130, 130, 130);
}
.text-mainblock__language a.active {
  color: #000;
}
@media (max-width: 479.98px) {
  .text-mainblock__language {
    position: fixed;
    top: 0;
    right: -100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.about__container {
  padding: 120.25px 0px 107px 0px;
  background-color: rgb(246, 246, 246);
}
@media (max-width: 991.98px) {
  .about__container {
    padding: 81px 10px 76px 10px;
  }
}
.about__content {
  text-align: center;
  max-width: 485.34px;
  margin: 0 auto;
  margin-bottom: 107px;
  -webkit-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  opacity: 0;
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}
.about__content.active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
@media (max-width: 991.98px) {
  .about__content {
    margin-bottom: 30px;
  }
}
.about__title {
  margin-bottom: 17.69px;
}
.about__text {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
}
.about__text P {
  padding: 0px 0px 40px 0px;
}
@media (max-width: 479.98px) {
  .about__text P {
    padding: 0px 0px 20px 0px;
  }
}
.about__text P:last-child {
  padding: 0px 0px 0px 0px;
}

.title {
  font-family: Gilroy-Bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: rgb(7, 7, 7);
}

.skills__container {
  max-width: 943.461px;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
}
.skills__content {
  padding-top: 91px;
  padding-bottom: 110.06px;
}
@media (max-width: 479.98px) {
  .skills__content {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}
.skills__title {
  margin-bottom: 69.1px;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}
.skills__title.active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
@media (max-width: 479.98px) {
  .skills__title {
    margin-bottom: 50px;
  }
}
.skills__text {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 83.49px;
  -webkit-transform: translate(120%, 0px);
          transform: translate(120%, 0px);
  opacity: 0;
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}
.skills__text.active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
@media (max-width: 479.98px) {
  .skills__text {
    margin-bottom: 70px;
  }
}

.programs {
  justify-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 70px 1fr 70px 1fr 70px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px;
}
@media (max-width: 767.98px) {
  .programs {
    -ms-grid-columns: 1fr 60px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}
@media (max-width: 479.98px) {
  .programs {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 80px;
  }
}

.program {
  max-width: 166.46px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.program.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.program__image {
  margin-bottom: 24.21px;
}
.program__subtitle {
  width: 100%;
  font-family: Gilroy-Bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: rgb(130, 130, 130);
  margin-bottom: 41.41px;
}
.program__stars {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolio__container {
  padding: 0px 30px 0px 30px;
  background-color: rgb(246, 246, 246);
}
@media (max-width: 767.98px) {
  .portfolio__container {
    padding: 0px 20px 0px 20px;
  }
}
@media (max-width: 479.98px) {
  .portfolio__container {
    padding: 0px 5px 0px 5px;
  }
}
.portfolio__content {
  padding-top: 112.93px;
  padding-bottom: 96.07px;
  max-width: 943.461px;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .portfolio__content {
    padding-top: 112.93px;
    padding-bottom: 96.07px;
  }
}
@media (max-width: 479.98px) {
  .portfolio__content {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.portfolio__title {
  margin-bottom: 47px;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.portfolio__title.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
@media (max-width: 767.98px) {
  .portfolio__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 479.98px) {
  .portfolio__title {
    margin-bottom: 30px;
  }
}
.portfolio__site {
  margin-bottom: 99.09px;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.portfolio__site.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
@media (max-width: 767.98px) {
  .portfolio__site {
    margin-bottom: 70px;
  }
}
@media (max-width: 479.98px) {
  .portfolio__site {
    margin-bottom: 40px;
  }
}
.portfolio__site:last-child {
  margin-bottom: 0px;
}

.site-portfolio__image {
  margin-bottom: 44.88px;
}
@media (max-width: 767.98px) {
  .site-portfolio__image {
    margin-bottom: 35px;
  }
}
@media (max-width: 479.98px) {
  .site-portfolio__image {
    margin-bottom: 15px;
  }
}
.site-portfolio__image img {
  border-radius: 10px;
  width: 100%;
}
.site-portfolio__link {
  text-align: center;
}
.site-portfolio__link a {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #000;
}
.site-portfolio__link a:hover {
  text-decoration: underline;
}

.contacts__container {
  padding: 0px 30px 0px 30px;
}
.contacts__content {
  padding-top: 114.24px;
  padding-bottom: 123.19px;
  max-width: 342.18px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 767.98px) {
  .contacts__content {
    padding-top: 100px;
    padding-bottom: 96.07px;
  }
}
@media (max-width: 479.98px) {
  .contacts__content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.contacts__title {
  margin-bottom: 20.03px;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.contacts__title.active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.contacts__text {
  margin: 0 auto;
  text-align: center;
  max-width: 275.14px;
  margin-bottom: 29.6px;
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 1s ease 0.3s;
  transition: all 1s ease 0.3s;
}
.contacts__text.active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.contacts__button {
  border: 1px solid black;
  padding: 13px 30px;
  border-radius: 25px;
  margin-bottom: 85.78px;
  background-color: #000;
  color: #ffffff;
}
.contacts__button:hover {
  background-color: rgba(255, 255, 255, 0.845);
  border: 1px solid black;
  color: rgb(0, 0, 0);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
@media (max-width: 400px) {
  .contacts__button {
    width: 100%;
    margin-bottom: 50px;
  }
}
.contacts__social {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 1s ease 0.8s;
  transition: all 1s ease 0.8s;
}
.contacts__social.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.contacts__social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45.98px;
}
.contacts__social__text {
  margin: 0 auto;
  max-width: 243.01px;
  font-family: Gilroy-Medium;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: rgb(130, 130, 130);
}

.button__contacts {
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 1s ease 0.6s;
  transition: all 1s ease 0.6s;
}
.button__contacts.active {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}